h1 {
  display: inline;
}

.rcorners {
  display: inline-flex;
  border-radius: 30px;
  background: #73ad21;
  padding: 20px;
  width: 60px;
  height: 15px;
  margin: 2px 2px;
  transition: all 0.5s;
}

.rcorners:hover {
  width: 80px;
}
